doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(width="device-width", initial-scale=1)
		meta("charset", "UTF-8")
		meta(name="keywords", content=pages[pageId].keyword)
		meta(name="description" content=pages[pageId].description)

		meta("og:title", content=pages[pageId].title)
		meta("og:type", content=pages[pageId].og_type)
		meta("og:image", content=pages[pageId].og_image)
		meta("og:url",  content=pages[pageId].og_url)
		meta("og:description", pages[pageId].description)

		meta(name="twitter:title", content=pages[pageId].title)
		meta(name="twitter:description", content=pages[pageId].description)

		title #{pages[pageId].title}
		
		link(rel="stylesheet" href="css/main.css")